* {
    font-family: Oswald;
}

form{
    padding: 15px;
}

button{
    color: white;
}

.textfields{
    width: 95%;
}

#form{
    background-color: white;
    height: 775px;
    width: 300px;
    border-radius: 10px;
}